<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <img [src]="projectResponse?.projectDetailsImageUrl" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <a class="btn btn-outline-success" [routerLink]="['/project', 'edit', projectId]" style="margin-right: 15px;" >Edit Details</a>
                <button type="button" class="btn btn-outline-danger" (click)="deleteProject();">Delete Project</button>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Name</strong>: {{projectResponse?.name}}</li>
                        <li><strong>Category</strong>: {{projectResponse?.category}}</li>
                        <li><strong>Environment</strong>: {{projectResponse?.environment}}</li>
                        <li *ngIf="projectResponse?.deploymentUrl"><strong>Deployment Url</strong>: <a [href]="projectResponse?.deploymentUrl" target="_blank">{{projectResponse?.deploymentUrl}}</a></li>
                        <li *ngIf="projectResponse?.gitHubUrl"><strong>Github Url</strong>: <a [href]="projectResponse?.gitHubUrl" target="_blank">{{projectResponse?.gitHubUrl}}</a></li>
                    </ul>
                </div>
                <div class="portfolio-description" [ngStyle]="{'margin-top.%': (projectResponse?.deploymentUrl && projectResponse?.gitHubUrl) ? 0 : -12}">
                    <h2>This is description of my project</h2>
                    <p>{{projectResponse?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>