<div class="container">
    <form id="contact" action="" method="post">
        <h3>Personalize About</h3>
        <br>
        <fieldset>
            <strong>Phone Number</strong>
            <input placeholder="Phone Number" type="tel">
        </fieldset>
        <fieldset>
            <fieldset>
                <strong>Job Title</strong>
                <input placeholder="Job title" type="text">
            </fieldset>
            <strong>Age</strong>
            <input placeholder="Age" type="text" tabindex="4" required>
        </fieldset>
        <fieldset>
            <strong>Education</strong>
            <input placeholder="Education" type="text">
        </fieldset>
        <fieldset>
            <strong>Country</strong>
            <input placeholder="Country" type="text">
        </fieldset>
        <fieldset>
            <strong>City</strong>
            <input placeholder="City" type="text">
        </fieldset>
        <fieldset>
            <strong>Email</strong>
            <input placeholder="email" type="email">
        </fieldset>
        <fieldset>
            <strong>About</strong>
            <textarea placeholder="Tell more about for you..."></textarea>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit">Submit</button>
        </fieldset>
    </form>  
</div>